<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <!--<p><strong>< @comment.user.name, class: "no-text-decoration normal-color" %></strong></p> -->
        <p><%= comment.comment %></p>
      </div>
    </div>
  </article>
</div><hr>